# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb
*.sql
*.swp

# Environment variables
.env

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Django Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Static files
/staticfiles/
/static/
/media/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db

# Byte-compiled files
*.py[co]

# Coverage reports
htmlcov/
*.cover
*.coverage
*.cov
.coverage.*

# pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytype
.pytype/

